/* Grids */
@import './hex.scss';
@import './xy.scss';

/* Game specific*/
@import './minesweeper.scss';

.app-content {
  position: relative;
  &:focus {
    outline: none;
  }
  .app-inner {
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#react-app {
  @apply bg-transparent justify-center items-center;
}